:root {
  --black: #000000;
  --seagall: #81B3D2;
  --roman-coffee: #766357;
  --shakespeare: #669EC0;
  --shakespeare-dark: #5496BD;
  --saddle: #604E43;
  --paco: #503E33;
  --white: #FFFFFF;
  --grey: #888888;
  --shades-of-whisper: #EEEEEE;
  --hex-gray95: #F2F2F2;
  --hex-gray92: #EBEBEB;
  --whisper: #E5E5E5;
  --form-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: var(--grey);
  color: var(--black);
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
  height: 100vh;
  text-transform: uppercase;
}
img {
  width: 100%;
  height: auto;
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  background-color: var(--white);
}
.page {
  background-color: var(--white);
  box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
  max-width: 1200px;
  margin: 0 auto;
}
.container {
  margin: 0 72px 0 72px;
}

.button_brown {
  background-color: var(--roman-coffee);
}
.button_brown:hover {
  background-color: var(--saddle);
}
.button_brown:active {
  opacity: 0.3;
  background-color: var(--paco);
}
.button_seagall {
  background-color: var(--seagall);
  border: none;
  text-transform: uppercase;
}
.button_seagall:hover {
  background-color: var(--shakespeare);
}
.button_seagall:active {
  opacity: 0.3;
  background-color: var(--shakespeare-dark);
}


.input {
  border: 1px solid var(--hex-gray95);
  background-color: var(--hex-gray95);
}
.input:hover {
  border: 1px solid var(--hex-gray92);
  background-color: var(--hex-gray92);
}
.input:focus {
  background-color: var(--white);
  border: 1px solid var(--whisper);
  outline: none;
  inset: 1px solid var(--whisper);
}


.link-xl {
  font-weight: bold;
  color: var(--black);
  text-decoration: none;
  text-transform: uppercase;
  display: block;
}
.link-xl:hover {
  color: var(--seagall);
}
.link-xl:active {
  color: var(--black);
  opacity: 0.3;
}
.link-xl_current {
  color: var(--roman-coffee);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/*навигация start*/
.header-navigation__list {
  display: grid;
  grid-template-columns: min-content 133px min-content 417px min-content 146px min-content;
  grid-auto-rows: 56px;
  grid-template-areas: "info . photo . map . hotels";
  list-style: none;
  margin: 0;
  padding: 0;
}
.navigation-item__info {
  grid-area: info;
}
.navigation-item__photo {
  grid-area: photo;
}
.navigation-item__map {
  grid-area: map;
}
.navigation-item__hotels {
  grid-area: hotels;
}

.header {}
.header__logo {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  width: 138px;
}
.header__logo-link {}
.header__logo-image {}
.header__navigation {
  margin-top: -79px;
}
.header-navigation__item {
  white-space: nowrap;
}
.navigation-item__link {
  font-size: 14px;
  line-height: 26px;
  padding: 15px 0 15px 1px;
}
/*навигация end*/


/*intro start*/
.intro {
  margin-bottom: 10px;
  min-height: 716px;
  text-align: center;
}
.intro__image {
  margin-bottom: 13px;
  margin-top: -1px;
}
.intro__text-large {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 43px;
}
.intro__text-small {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}
/*intro end*/


/*reasons start*/
.reasons-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  grid-template-areas:
  "reason-1 reason-1 reason-1"
  "reason-1 reason-1 reason-1"
  "reason-2 reason-2 reason-2"
  "reason-3 reason-4 reason-5";
}
.reason-1 {
  grid-area: reason-1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "content image image"
    "description description description";
}
.reasons__content-town {
  grid-area: content;
}
.reasons-image__town {
  grid-area: image;
}
.town-description {
  grid-area: description;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "home food presents"
}
.town-description__home {
  grid-area: home;
}
.town-description__food {
  grid-area: food;
}
.town-description__presents {
  grid-area: presents;
}
.reason-2 {
  grid-area: reason-2;
  display: flex;
  align-items: center;
}
.reason-3 {
  grid-area: reason-3;
}
.reason-4 {
  grid-area: reason-4;
}
.reason-5 {
  grid-area: reason-5;
}

.reasons {}
.reasons__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.reasons__item {}
.reasons__item__seagall {
  background-color: var(--seagall);
}
.reasons__content {
  background-color: var(--shades-of-whisper);
  padding: 45px 0 50px 0;
}
.reasons__content_seagall {
  background-color: var(--seagall);
  color: var(--white);
}
.reasons-content__bridge {
  padding: 50px 0 51px 0;
  width: 100%;
  border: 1px solid black;
  height: 256px;
}
.reasons-content__square {}
.reasons-content__road {}

.reasons__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 21px;
  margin: 0 0 25px 0;
  text-align: center;
}
.reasons__order {
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0 0 23px 0;
  text-align: center;
}
.reasons__text {
  font-size: 14px;
  font-weight: normal;
  line-height: 23px;
  margin: 0;
  text-align: center;
}
.reasons__image {
  height: 100%;
}

.reasons__description-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.reasons__description-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.reasons__description-item:nth-child(1) {
  padding: 60px 0 82px 0;
}
.reasons__description-item:nth-child(2) {
  padding: 61px 0 82px 0;
}
.reasons__description-item:nth-child(3) {
  padding: 55px 0 81px 0;
}

.reasons__description-icon {}
.description-icon__home {
  margin-bottom: 29px;
}
.description-icon__food {
  margin-bottom: 32px;
}
.description-icon__presents {
  margin-bottom: 31px;
}

.reasons__description-title {
  line-height: 21px;
  font-weight: bold;
  font-size: 21px;
}
.description-title__home {
  margin: 0 0 25px 0;}
.description-title__food {
  margin: 0 0 25px 0;}
.description-title__presents {
  margin: 0 0 25px 0;}

.reasons__description-text {
  line-height: 21px;
  font-size: 14px;
  font-weight: normal;
  margin: 0 auto;
  text-align: center;
}
.description-text__home {}
.description-text__food {}
.description-text__presents {}
/*reasons end*/


/*search start*/
.search {
  position: relative;
}
.search__window {
  left: 50%;
  min-width: 568px;
  position: absolute;
  top: calc(100% + 160px);
  transform: translate(-50%, -50%);
}
.search__button {
  text-align: center;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  transform: translateY(1px);
}
.search__button-link {
  display: block;
  text-decoration: none;
}
.search__button-text {
  color: var(--white);
  line-height: 26px;
  font-size: 21px;
  font-weight: bold;
  vertical-align: bottom;
}

.search__form-field {
  background-color: var(--white);
  box-shadow: var(--form-shadow);
  display: flex;
  flex-direction: column;
  padding: 44px 55px 55px 55px;
  justify-content: center;
}
.search__form-button {
  background: none;
  border: none;
  outline: none;
  position: absolute;
  top: 2px;
  right: 0;
}
.search__form-button:hover path {
  fill: var(--black);
}
.search__form-button:active path {
  fill: var(--seagall);
}
.search__form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.item__date-in {
  margin-bottom: 29px;
}
.item__date-out {
  margin-bottom: 30px;
}
.item__counter {
  margin-bottom: 54px;
}
.search__form-label {
  display: block;
  line-height: 7px;
  font-size: 14px;
  font-weight: bold;
}
.search__form-input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: var(--black);
  line-height: 26px;
  font-size: 14px;
  font-weight: bold;
}
.search__form-input::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.search__form-date {
  padding: 6px 0 6px 13px;
  width: 346px;
}
.search__form-submit {
  color: var(--white);
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  padding-bottom: 16px;
  padding-top: 16px;
  text-align: center;
  width: 100%;
}

.search__form-counter {
  display: block;
  position: relative;
  width: 114px;
  height: 38px;
}
.search__counter-decrement {
  background: none;
  display: block;
  border: none;
  height: 38px;
  outline: none;
  position: absolute;
}
.counter-decrement__people{
  top: 0;
  left: 0;
}
.counter-decrement__child {
  top: 0;
  left: 0;
}
.search__input {
  border: none;
  width: 100%;
  height: 100%;
  text-align: center;
}
.search__counter-increment {
  background: none;
  display: block;
  border: none;
  height: 38px;
  outline: none;
  position: absolute;
}
.counter-increment__people {
  top: 0;
  right: 0;
}
.counter-increment__child {
  top: 0;
  right: 0;
}

.search__interest {
  padding-top: 60px;
  min-height: 291px;
}
.search__interest-text {
  text-align: center;
  margin: 0;
  padding: 0;
}
.interest__text-large {
  line-height: 24px;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 33px;
}
.interest__text-normal {
  line-height: 24px;
  font-weight: normal;
  font-size: 14px;
}
/*search end*/

/*map start*/
.location {}
.location__image {
  height: 100%;
}
/*map end*/

/*footer start*/
.footer {
  display: grid;
  grid-template-columns: 111px auto 163px auto 203px auto 138px;
  grid-template-rows: auto;
  grid-template-areas:
  ". contacts . social . author .";
  position: relative;
  z-index: 10;
  margin-top: -120px;
  background: rgba(255, 255, 255, 0.9);;
}
.footer__contacts {
  grid-area: contacts;
}
.footer__social {
  grid-area: social;
}
.footer__author {
  grid-area: author;
  display: flex;
  align-items: center;
}

.footer__link {
  display: block;
  text-decoration: none;
}

.footer__contacts-list {
  list-style: none;
  margin-bottom: 0;
  padding: 23px 0 36px 0;
}
.footer__contacts-item {}
.footer__contacts-inst {}
.footer__contacts-phone {}
.footer__contacts-lnk {
  color: var(--black);
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}

.footer__social-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 36px 0;
}
.footer__social-item {
  height: 46px;
  width: 48px;
}
.footer__social-item + .footer__social-item {
  margin-left: 6px;
}
.footer__social-link {
  background-color: var(--seagall);
  display: block;
  height: 100%;
  text-decoration: none;
  width: 100%;
}
.footer__social-link:hover {
  background-color: var(--shakespeare);
}
.footer__social-link:active {
  background-color: var(--shakespeare-dark);
  opacity: 0.3;
}
.social-link_twitter {
  padding: 14px 14px 13px 16px;
}
.social-link_fb {
  padding: 12px 17px;
}
.social-link_youtube {
  padding: 13px 14px;
}

.footer__social-icon {
  object-position: center;
}

.footer__author {
  padding-top: 38px;
  padding-bottom: 41px;
}
.footer__author-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 26px;
}
.footer__author-link {}
.footer__author-image {
  padding-left: 8px;
}
.footer__author-link:hover .footer__author-image path {
  fill: var(--seagall);
}
.footer__author-link:active .footer__author-image path {
  fill: var(--hex-gray92);
}
/*footer end*/